.contenedor {
	background-color: #0c7b93;
	height: 500px;
	width: 400px;
	border-radius: 5%;
	box-sizing: border-box;
	border: 5px solid black;
	box-shadow: 5px 10px 20px 0 black;
	margin: auto;
	margin-top: 30px;
}
.pantalla {
	display: block;
	height: 65px;
	width: 300px;
	background-color: grey;
	margin-left: 40px;
	margin-top: 40px;
	border-radius: 20px;
	border: 2.5px solid black;
	font-size: 35px;
	text-align: right;
	word-wrap: break-word;
	overflow-y: hidden;
	padding: 8px; 

}
.operadores {
	margin-left: 60px;
	margin-top: 20px;
	height: 70px;
	width: 350px;
	padding: 5px;
}
button {
	width: 60px;
	height: 40px;
	padding: 0;
	font-size: 25px;
	border-radius: 10%;
	border: 3px solid grey;
	cursor: pointer;
}
.numeros {
	margin: auto;
	height: 200px;
	width:300px;
	margin-left: 59px;
	margin-top: -10px;
}
.numeros button {
	margin: 10px;
	height: 45px;
	width:  65px;
}	
.ceroIgual button {
	height: 45px;
	width: 90px;
	margin: 0 0 10px 10px;
}
.ceroIgual {
	margin-left: 35px
}

button:hover {
	background-color: #0c7b53;
}
button:active {
	background-color: #0c5b53;
}

